@model Cafezinho.ViewModels.CarteiraListViewModel
<h4>
Relatório de ativos em carteira</h4>
<br>
<style>
    .compra {
        color: #2c8e2c;
    }

    .venda {
        color: red;
    }

    .title-separator {
        border-bottom: 1px solid black;
    }

    .result-separator {
        border-bottom: 1px solid #CCCCCC;
    }
</style>

<table>
    <thead>
        <tr>
            <th style="padding-right: 50px;">
                Operação
            </th>
            <th style="padding-right: 50px;">
                Ticker
            </th>
            <th style="padding-right: 50px;">
                Preço
            </th>
            <th style="padding-right: 50px;">
               Quantidade
            </th>
            <th style="padding-right: 100px;">
               Data da Transação
            </th>
            <th style="padding-right: 100px;">
                Valor Total
            </th>
            <th></th>
        </tr>
        <tr class="title-separator">
            <td colspan="7"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model.Registros)
        {
            <tr>
                <td>
                    Compra
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.DtTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.ValorTotal)
                </td>
                <td class="d-block">
                    <a class="btn btn-secondary p-0 w-100" asp-action="Vender" asp-route-id="@compra.RegistroId">Vender</a>
                    <a class="btn btn-danger p-0 w-100" asp-action="Delete" asp-route-id="@compra.RegistroId">Apagar</a>
                </td>
            </tr>
            <tr class="result-separator">
                <td colspan="7"></td>
            </tr>
        @foreach (var venda in Model.Vendas){
               <tr style="margin-top: 50px;">
                <td>
                    Venda
                </td>
                <td>
                    @Html.DisplayFor(modelItem => compra.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => venda.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => venda.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => venda.DtTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => venda.ValorTotal)
                </td>
                <td class="d-block">
                    <a class="btn btn-danger p-0 w-100" asp-action="DeleteVenda" asp-route-id="@venda.VendaId">Apagar</a>
                </td>
            </tr>
        }

        }    </tbody>
</table>
