@model IEnumerable<Cafezinho.Models.Ativo>

@{
    ViewData["Title"] = "Index";
}

<h4>Relação de ativos cadastrados</h4>

<p>
    <a class="btn btn-success mt-4" asp-action="Create">Adicionar ativo</a>
</p>
<table class="table align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
                <td>
                    <a class="btn btn-secondary py-1" asp-action="Edit" asp-route-id="@item.AtivoId">Editar</a>
                    <a class="btn btn-warning py-1" asp-action="Details" asp-route-id="@item.AtivoId">Detalhar</a>
                    <a class="btn btn-danger py-1" asp-action="Delete" asp-route-id="@item.AtivoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
